body {
    background-color: aqua;
}

p {
    color: blueviolet;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
}

div {
    background-color: pink;
    border-radius: 10px; 
    text-align: center;
    padding: 5px;
    margin: 20px;
}