#exemplo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid black;
}

.verde {
    background-color: green;
    color: black;
}

.preto {
    background-color: black;
    color: white;
}